:root {
  --background: #343434;
  --primary: #27c499;
  --headingColor: #fff;
  --bodyColor: #bcbcbc;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato";
  background-color: #343434;
  color: var(--bodyColor);
}

a {
  text-decoration: none;
  color: var(--bodyColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
  font-weight: 500;
  margin: 0;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 18px;
}

p {
  font-family: "Lato";
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}

/* Colors */
.primary-color {
  color: var(--primary);
}

.heading-color {
  color: var(--headingColor);
}

/* Margins */
.margin-tb5 {
  margin: 5px 0;
}

.margin-tb10 {
  margin: 10px 0;
}

.margin-tb20 {
  margin: 20px 0;
}

.margin-t5 {
  margin-top: 5px;
}

.margin-t10 {
  margin-top: 10px;
}

.margin-t20 {
  margin-top: 20px;
}

.margin-b5 {
  margin-bottom: 5px;
}

.margin-b10 {
  margin-bottom: 10px;
}

.margin-b20 {
  margin-bottom: 20px;
}

.p-small {
  font-size: 16px;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify {
  justify-content: center;
}

.align {
  align-items: center;
}
