:root {
  --background: #343434;
  --primary: #27c499;
  --headingColor: #fff;
  --bodyColor: #bcbcbc;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato";
  background-color: #343434;
  color: var(--bodyColor);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--bodyColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
  font-weight: 500;
  margin: 0;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 18px;
}

p {
  font-family: "Lato";
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  line-height: 25px;
  letter-spacing: 0.02em;
}

.text-center {
  text-align: center;
}

.dashed-horizontal {
  background-image: linear-gradient(
    to right,
    #fff 52%,
    rgba(123, 255, 255, 0) 20%
  );
  background-position: top;
  background-size: 11px 1px;
  background-repeat: repeat-x;
  width: 200px;
  height: 1px;
}

.dashed-vertical {
  background-image: linear-gradient(#fff 52%, rgba(255, 255, 255, 0) 20%);
  background-position: right;
  background-size: 1px 11px;
  background-repeat: repeat-y;
  width: 1px;
}

.section {
  padding: 100px 0;
}

/* Colors */
.primary-color {
  color: var(--primary);
}

.heading-color {
  color: var(--headingColor);
}

/* Margins */
.margin-tb5 {
  margin: 5px 0;
}

.margin-tb10 {
  margin: 10px 0;
}

.margin-tb20 {
  margin: 20px 0;
}

.margin-t5 {
  margin-top: 5px;
}

.margin-t10 {
  margin-top: 10px;
}

.margin-t20 {
  margin-top: 20px;
}

.margin-b5 {
  margin-bottom: 5px;
}

.margin-b10 {
  margin-bottom: 10px;
}

.margin-b20 {
  margin-bottom: 20px;
}

.p-small {
  font-size: 16px;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify {
  justify-content: center;
}

.align {
  align-items: center;
}
